<template>
	<div class="main-content">
		Main Content
	</div>
</template>
<script lang="ts">
export default {
	setup() {
		return { a: 2 }
	},
}
</script>
<style lang="scss" scoped>
.main-content {
	flex: 1;
	background-color: #F0F2F5;
	padding: 10px;
}
</style>
